server:
  port: 3302
  forward-headers-strategy: framework
  servlet:
    context-path: /api/v1
security:
  jwt:
    token:
      secret-key: "5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437"

spring:
  profiles:
    active: dev
  servlet:
    multipart:
      enabled: true
      max-request-size: 10MB
      max-file-size: 10MB
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  application:
    name: Etat-fin-app-backend
  springdoc:
    api-docs:
      enabled: true
      path: /v3/api-docs
    swagger-ui:
      enabled: true
      path: /swagger-ui.html